<h3 class="ms-4"> RECADASTRAMENTO DA ASSISTÊNCIA FARMACÊUTICA - CAIEIRAS</h3>
<div class="card g-3">
    <div class="container">
         <form class="row g-3" action="/categorias/nova" method="POST">
         
         <div class="row  g-3 mb-3 text-center">
             <div class="col-md-12 mt-4 text-center ">
                 <p class="fs-3 text-uppercase">Não foi possível fazer o cadastramento!</p>
             </div>

             <div class="col-md-12  mt-4  text-center ">
                 <p class="fs-5 text-uppercase mt-4">Tente novamente</p>
             </div>
             <div class="row g-3 mt-5 mb-3 text-center" >
                 <div class="d-grid  col-2 mx-auto text-center">
                     <button  class="btn btn-success text-uppercase">Sair</button>
                 </div>
             </div>
         </div>
         
         </form>
    </div>
</div>