<h3 class="ms-4"> RECADASTRAMENTO DA ASSISTÊNCIA FARMACÊUTICA - CAIEIRAS</h3>
<div class="card g-3">
    <div class="container">
         
        <form action="">
         <div class="row  g-3 mb-3 mt-4 text-center">
             <div class="col-md-12 mt-4 text-center ">
                 <p class="fs-3 text-uppercase text-primary">Recadastramento Salvo e concluído com Sucesso !</p>
             </div>

             <div class="col-md-12  mt-4  text-center ">
                 <p class="fs-4  mt-4 ">Recadastramento realizado e sujeito a aprovação da Secretaria Municipal de Saúde</p>
             </div>
             <div class="row g-3 mt-5 mb-3 text-center" >
                 <div class="d-grid  col-1 mx-auto text-center">
                <a href="https://www.caieiras.sp.gov.br/" class="btn btn-success text-uppercase" target="_black">   Sair</a>     
                 </div>
             </div>
         </div>
         </form> 
         </form>
    </div>
</div>