<h3 class="ms-4"> RECADASTRAMENTO DA ASSISTÊNCIA FARMACÊUTICA - CAIEIRAS</h3>
<div class=" card g-3">
  <div class="container g-3">
    <form class="row g-3" action="/nova/upload" method="POST" enctype="multipart/form-data">
      
      <div class="row g-3" name="nome">
        <div class="col-md-6" name="nome">
          <em>*</em>  Nome Completo
          <input type="text" class="form-control" placeholder="nome completo" aria-label="First name" name="nome" required>
        </div>
        <div class="col-md-6" name="nomemae">
           <em>*</em>  Nome da mãe
          <input type="text" class="form-control" placeholder="Nome da mãe completo" aria-label="Last name" name="nomemae"required>
        </div>
      </div>
      
      <div class="row  g-3">
          <div class="col-md-6" name="nascimento">
          <label for="inputState" class="form-label" name="nascimento"> <em>*</em>Data de nascimento</label>
          <input type="text" class="form-control" placeholder="00/00/0000" aria-label="First name" name="nascimento" id="outra_data" maxlength="10" onkeypress="mascaraData(this)"  required>
        </div>
        
      

      

            <div class="col-md-6">
          <label for="inputState" class="form-label" name="deficiencia"> <em>*</em>Possui deficiência ?</label>
          <select id="inputState" class="form-select" name="deficiencia" required>
            <option value="Não possui" name="deficiencia" selected>Não possui</option>
            <option value="Auditiva" name="deficiencia">Auditiva</option>
            <option value="Visual" name="deficiencia">Visual</option>
            <option value="Cognitiva" name="deficiencia">Cognitiva</option>
            <option value="Intelectual" name="deficiencia">Intelectual</option>
            <option value="Física" name="deficiencia">Física</option>
          </select>
        </div>  
      </div>

      <div class="row g-3">
          <div class="col-md-6">
            <label name="email" for="inputEmail4" class="form-label"><em>*</em> Email</label>
            <input name="email" type="email" placeholder="email@gmail.com" class="form-control" id="inputEmail4" required>
          </div>
          <div class="col-3">
            <label name="telefonefixo" for="inputAddress" class="form-label"> <em></em>Telefone fixo</label>
            <input type="text" class="form-control" id="inputAddress" maxlength="13" placeholder="(00)0000-0000" name="telefonefixo" onkeydown="javascript: fMasc( this, mTel );">
          </div>
          <div class="col-3">
            <label name="celular" for="inputAddress" class="form-label"> <em>*</em>Telefone celular</label>
            <input type="text" class="form-control" id="inputAddress" maxlength="14" placeholder="(00)00000-0000" name="celular" onkeydown="javascript: fMasc( this, mTel );" required >
          </div>
      </div>
      
      
      <div class="row g-3">
          <div class="col-md-4">
            <label name="fisico" for="inputEmail4" class="form-label"> <em>*</em>RG ou Certidão de Nascimento:</label>
            <input name="fisico" type="input" placeholder="Coloque o RG ou certidão de nascimento" class="form-control" id="inputEmail4" maxlength="12"  required>
          </div>
          <div class="col-4">
            <label name="cpf" for="inputAddress" class="form-label" > <em>*</em>CPF:</label>
            <input type="text" class="form-control" id="inputAddress" maxlength="14" placeholder="000-000-000/00" name="cpf" onkeydown="javascript: fMasc( this, mCPF );"required>
          </div>
          <div class="col-4">
            <label name="sus" for="inputAddress" class="form-label"> <em>*</em>Cartão SUS:</label>
            <input type="text" class="form-control" id="inputAddress" maxlength="19" placeholder="000.000.000.000.000" name="sus" onkeydown="javascript: fMasc( this, mSUS )" required>
          </div>
      </div>
    
      <div class="row g-3"> 
        <div class="col-md-2">
          <label name="cep" for="" class="form-label"> <em>*</em>CEP</label>
          <input type="text" class="form-control" maxlength="10" placeholder="00000-000" name="cep" id="cep" onkeydown="javascript: fMasc( this, mCEP );" required>
        </div>

        <div class="col-6" > 
          <label for="" class="form-label"> <em>*</em>Rua</label>
          <input type="text" class="form-control" placeholder="Digite seu logradouro" name="rua" id="rua"required>
        </div>

        <div class="col-1">
          <label for="" class="form-label"> <em>*</em>Nº</label>
          <input type="text" class="form-control" placeholder="" name="numero" id="" required>
        </div>

        <div class="col-3">
          <label for="" class="form-label"> <em></em>Complemento</label>
          <input type="text" class="form-control" placeholder="(opcional)" name="complemento" id="">
        </div>
      </div>

      <div class="row g-3">
        <div class="col-md-4">
          <label for="" class="form-label"> <em>*</em> Bairro</label>
          <input type="text"  class="form-control" name="bairro" id="bairro" required>
        </div>  

        <div class="col-4">
          <label for="" class="form-label"> <em>*</em> Cidade</label>
          <input type="text"  class="form-control" name="cidade" id="cidade" required>
        </div>
        
        <div class="col-4">
          <label for="" class="form-label"> <em>*</em> Estado</label>
          <input type="text"  class="form-control" name="estado" id="uf"required>
        </div>
      </div>
      
      <div class="row g-3">
         <div class="col-md-4">
           <label for="comprovanteendereco" class="form-label"  > <em>*</em> Comprovante de endereço</label>
            <select class="form-select" name="comprovanteendereco" id="" required>
              <option selected value="sem valor selecionado">Selecione uma opção</option>
              <option value="Conta de água/luz ou contrato de aluguel no nome do usuário" name="comprovanteendereco" >Conta de água/luz ou contrato de aluguel no nome do usuário</option>
              <option value="Conta de água/luz ou contrato de aluguel no nome dos pais" name="comprovanteendereco" >Conta de água/luz ou contrato de aluguel no nome dos pais</option>
              <option value="Conta de água/luz ou contrato de aluguel no nome do cônjuge" name="comprovanteendereco" >Conta de água/luz ou contrato de aluguel no nome do cônjuge</option>
              <option value="Não possuo comprovante de endereço nos termos acima e solicito visita de agente público para comprovação residência" name="comprovanteendereco" >Não possuo comprovante de endereço nos termos acima e solicito visita de agente público para comprovação residência</option>
            </select>
         </div>
      </div>

      <div class="row g-3">
          <div class="col-md-3">
            <label for="" class="form-label"> <em>*</em> RG ou Certidão de nascimento </label>
            <input type="file" class="input-control" name="img" id="" >
          </div>
        <div class="col-md-3">
          <label for="" class="form-label"> <em>*</em> Comprovante de endereço</label>
              <input type="file" class="input-control" name="img" id="" >
        </div>
        <div class="col-md-6">
          <label for="" class="form-label"> <em>*</em>Certidão de casamento ou declaração de união estável reconhecida em cartório</label>
              <input type="file" class="input-control" name="img" id="" >
        </div>
     </div>
      <div class="row g-3">
        <div class="col-md-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
            <label class="form-check-label" for="flexCheckDefault">
             Declaro, sob as penas da lei, que as informações e os documentos apresentados são verdadeiros e autênticos, e estou ciente que a validação do cadastro está sujeita a aprovação da Secretaria Municipal de Saúde após conferência
            </label>
          </div>
        </div>
      </div>
   

    <div class="row g-3  col-md-8 ">
      <div class="col-md-2">
      <button type="submit"  class="btn btn-primary form-button">Cadastrar</button>
     
      
        </div>
          <div class="col-md-2 mb-4">
            <button  type="reset" class="btn btn-danger">Limpar</button>
          </div> 
     </div>
  

    </form>
  </div>
</div>